@model  HospitalApplication.Models.HospitalAppointmentDto


@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="list-group">
            <div class="list-group-item">
                <h2 class="list-group-item-heading text-center">Patient Details</h2>
                <div class="list-group-item-text">
                   
                    <div class="row">
                        <div class="col-sm-4">ID</div>
                        <div class="col-sm-8">@Model.AppointmentID</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Patient Name</div>
                        <div class="col-sm-8">@Model.PatientName</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Doctor Name</div>
                        <div class="col-sm-8">@Model.DoctorName</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <a class="btn btn-info" href="/HospitalAppointment/Edit/@Model.AppointmentID" role="button">Update</a>
    <a class="btn btn-danger" href="/HospitalAppointment/DeleteConfirm/@Model.AppointmentID" role="button">Delete</a>
</div>

<div class="col-md-12 text-center">
    <a class="primary-light" href="/HospitalAppointment/List">Back to list</a>
</div>


