@model HospitalApplication.Models.DepartmentDto

@{
    ViewBag.Title = "Details";
}

<a href="/Department/List"></a>
<h2>@Model.DeptName</h2>
<div>@Model.DeptDescription</div>
<div>@Model.DeptLocation</div>
