
@{
    ViewBag.Title = "New Department";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h2 class="text-center">New Department</h2>
        <form class="form-horizontal" action="/Department/Create" method="POST">
            <div class="form-group">
                <label class="col-sm-4 control-label" for="DeptName">Name</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="DeptName" name="DeptName">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="DeptLocation">Location</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="DeptLocation" name="DeptLocation">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="DeptDescription">Description</label>
                <div class="col-sm-8">
                    <textarea class="form-control" id="DeptDescription" name="DeptDescription" rows="5"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button class="btn btn-default" type="submit">Add Department</button>
                </div>
            </div>
        </form>
    </div>
</div>

