@model HospitalApplication.Models.UserDto

@{
    ViewBag.Title = "Confirm Delete";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h2>Are you sure you want to delete this user?</h2>
        <div class="list-group">
            <div class="list-group-item text-center">
                <h3 class="list-group-item-heading text-center">@Model.UserName</h3>
                <p class="list-group-item-text">@Model.Email</p>
            </div>
        </div>
        <div class="text-center">
            <form action="/User/Delete/@Model.UserID" method="POST">
                <button class="btn btn-danger" type="submit">Confirm Delete</button>
                <a class="btn btn-default" href="/User/List" role="button">Cancel</a>
            </form>
        </div>
    </div>
</div>