@model IEnumerable<HospitalApplication.Models.UserDto>
@{
    ViewBag.Title = "List of users";
}

<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <h2 class="text-center">List of users</h2>
        @foreach (var user in Model)
        {
            <div class="list-group text-center">
                <a href="/User/Details/@user.UserID" class="list-group-item">
                    <h4 class="list-group-item-heading">@user.Email</h4>
                    @if(@user.GivenName != null && @user.LastName != null)
                    {
                        <p class="list-group-item-text">@user.GivenName @user.LastName</p>
                    }
                </a>
            </div>
        }
    </div>
</div>