@model IEnumerable<HospitalApplication.Models.UserDto>
@{
    ViewBag.Title = "List of users";
}

<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <h2 class="text-center">List of users</h2>
        <div class="text-right"><a class="btn btn-default" href="/Post/New" role="button">New User</a></div>
        @foreach (var user in Model)
        {
            <div class="list-group text-center">
                <a href="/User/Details/@user.UserID" class="list-group-item">
                    <h4 class="list-group-item-heading">@user.UserName</h4>
                    <p class="list-group-item-text">@user.Email</p>
                </a>
            </div>
        }
    </div>
</div>