@model HospitalApplication.Models.ViewModels.DetailsDonation
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="list-group">
            <div class="list-group-item">
                <h2 class="list-group-item-heading text-center">Donation Details</h2>
                <div class="list-group-item-text">
                    <div class="row">
                        <div class="col-sm-4">Name</div>
                        <div class="col-sm-8">@Model.SelectedDonation.DonationDescription</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Email address</div>
                        <div class="col-sm-8">@Model.SelectedDonation.DonationAmount</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Address</div>
                        <div class="col-sm-8">@Model.SelectedDonation.DonationDate.ToString("yyyy-MM-dd")</div>
                    </div>
 
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <a class="btn btn-info" href="/Donation/Edit/@Model.SelectedDonation.DonationID" role="button">Update</a>
    <a class="btn btn-danger" href="/Donation/DeleteConfirm/@Model.SelectedDonation.DonationID" role="button">Delete</a>
</div>

<div class="col-md-12 text-center">
    <a class="primary-light" href="/Donation/List">Back to list</a>
</div>